body{
      margin: 0%;
      height: 100%;
      background-attachment: fixed;
      background:linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.774)), url(/assets/img/background.png);
      text-align: center;
}
header{
    background-color: #6997BF;
    margin: 0%;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 10px #4d9ee698;
}
.cabeçalho{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.cabeçalho a {
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
    font:arial;
}
.cabeçalho a:hover{
    transition: 0.5s;
    font-size: 45px;
    color: #2a1f35;
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
}
.titulo{
    margin-top: 8%;
}
.hr1{
    margin: 0%;
    border: none;
    color: rgb(0, 0, 0);
}
h1{
    margin-top: 20px;
    font-size: 360%;/*Fiz em porcetagem para testar quando eu diminuo e aumento a tela*/
    color: #6997BF;
    text-align: center;
}
p{
    font-size: 150%;
    color: #cbcdce;
}
footer {
    position: fixed;
    bottom: 0;
    width: 500px;
    background-color: #6997BF;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;              
    justify-content: center;    
    align-items: center;
    border-radius: 20px;
    padding: 30px 0px;
    height: 19px;
    box-shadow: 0 4px 10px rgba(47, 137, 255, 0.4);
}
.links2{
    padding: 40px;
}
#txt1, #txt2{
     text-align: center;
     padding: 2%;
     margin-right: 01%;
     margin-left:01% ;
     border-radius: 10px;
     height: 30px;
     width: 10%;
     border: none;
     font-size: 80%;
}
#butaoc{
    background-color: rgb(85, 138, 236);
    border: 0;
    border-radius: 10px;
    padding: 02%;
    font-size: 20px;
    margin: 01%;
    color: rgb(0, 0, 0);
}
#data, #hora{
    font-size: 50px;
    color: rgb(65, 165, 231);
    font:italic;
}
#ppt{
    border-radius: 20px;
    background-color: transparent;
    height: 100px;
    width: 100px;
}
